header {
    padding: 1% 2%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #090446;
    color: white;
}

.share-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.icon-btn {
    min-width: 70px;
    padding: 3% 5%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    cursor: pointer;
    width: 90px;
}

.icon {
    font-size: 20px;
}

@media screen and (max-width: 795px) {
    .share-icons {
        width: 40%;
    }
}