.repos {
    padding: 3%;
}

ul {
    list-style: none;
}

.repo {
    padding: 2%;
    height: 120px;
    margin-bottom: 2%;
    background-color: whitesmoke;
    border-radius: 5px;
}

.link {
    color: black;
    font-weight: bold;
}