<div class="user" *ngIf="user">
    <div class="img-container">
        <div class="img">
            <img [src]="profile_pic" alt="user profile">
        </div>
    </div>
    <div class="details">
        <p>username: <span>{{username}}</span></p>
        <p>repos: <span>{{repos}}</span><a class="link check-repo-btn" [routerLink]="['/repos', username]">check repos</a></p>
        <p>followers: <span>{{followers}}</span></p>
        <p>following: <span>{{following}}</span></p>
    </div>
</div>
<div class="message" *ngIf="!user">
    <p>enter name of user to search</p>
</div>