/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: 'Righteous', cursive;
    --text-font: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: var(--header-font);
}

p {
    font-family: var(--text-font);
}